* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    font-weight: 400;
    color: rgb(88, 88, 18);
}

.active {
    font-weight: 500;
    color: rgb(219, 216, 30)
}

.btn-primary {
    background-color: rgb(0, 0, 0);
    border: 0;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(78, 78, 51);
}